<!-- <app-baitap1></app-baitap1> -->
<!-- <app-baitap2></app-baitap2> -->
<!-- <app-baitap3></app-baitap3> -->
<!-- <app-baitap4></app-baitap4> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directive></app-structural-directive> -->
<!-- <app-atrribute-directive></app-atrribute-directive> -->
<!-- <app-baitap-structural-directive></app-baitap-structural-directive> -->
<!-- <app-ng-content></app-ng-content> -->
<!-- <app-interaction></app-interaction> -->
<!-- <app-baitap-bus></app-baitap-bus> -->
<app-trang-chu></app-trang-chu>
