<h3 style="color: red">ng-content</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <app-app-card>
        <span class="tenSP">Inphone X</span>
        <span class="mota"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
          nesciunt nam ex corporis deleniti ut modi et sed accusantium iusto? At
          dignissimos perferendis ea, quasi soluta laboriosam et maiores
          labore!</span
        >
        <span class="gia">12000</span>
      </app-app-card>
    </div>
    <div class="col-sm-4">
      <app-app-card>
        <span class="tenSP">Samsung</span>
        <span class="mota"
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          accusantium unde tempore temporibus labore. Explicabo, aliquam
          molestiae at culpa debitis, dolores, corporis quis sunt expedita
          obcaecati provident quia repudiandae quibusdam.</span
        >
        <span class="gia">12000</span>
      </app-app-card>
    </div>
    <div class="col-sm-4">
      <app-app-card>
        <span class="tenSP">Window phone</span>
        <span class="mota"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          optio ipsa assumenda quibusdam est dolorum eaque, quae repellat. Eos
          cumque officia saepe architecto aliquam aperiam voluptatum dignissimos
          nam ducimus quos.</span
        >
        <span class="gia">12000</span>
      </app-app-card>
    </div>
  </div>
</div>
